<section id="cast" class="cast-section">
  <div class="container">

    <div class="row text-center credits">
      <div class="col-sm-12">
        <h2 class="cursive">starring</h2>
      </div>
    </div>

    <div class="row credits">
      <div class="col-sm-offset-1 col-sm-4">
         <div class="row">
          <div class="col-sm-12 text-center center-block">
            <h2>NATHAN ARNOLD AS</h2>
            <p>image</p>
            <h2 class="role">THE GROOM</h2>
          </div>
        </div>
      </div>

      <div class="col-sm-2 text-center">
        <h1 id="ampersand">&</h1>
      </div>

      <div class="col-sm-4">
        <div class="row">
          <div class="col-sm-12 text-center center-block">
            <h2>ELIZABETH HUBERTZ AS</h2>
            <p></p>
            <h2 class="role">THE BRIDE</h2>
          </div>
        </div>
      </div>
    </div><!-- end bride and groom photos row -->

    <div class="row text-center credits mvxl">
      <div class="col-sm-12">
        <h2 class="cursive">also featuring</h2>
      </div>
    </div>

    <div class="row credits family mvxl">

      <div class="col-sm-2 col-sm-offset-1">
         <div class="row">
          <div class="col-sm-12 text-center center-block">
            <h2>JANET<br /> DEININGER</h2>
            <p>image</p>
            <h2>MOTHER OF THE BRIDE</h2>
          </div>
        </div>
      </div>

       <i class="visible-xs fa fa-bicycle pvl text-center center-block"></i>

      <div class="col-sm-2">
         <div class="row">
          <div class="col-sm-12 text-center center-block">
            <h2>LORETTA<br/> DEININGER</h2>
            <p>image</p>
            <h2>SISTER OF THE BRIDE</h2>
          </div>
        </div>
      </div>

      <i class="visible-xs fa fa-bicycle pvl text-center center-block"></i>

      <div class="col-sm-2">
         <div class="row">
          <div class="col-sm-12 text-center center-block">
            <h2>HENRY<br />DEININGER</h2>
            <p>image</p>
            <h2>A GOOD DOG</h2>
          </div>
        </div>
      </div>

      <i class="visible-xs fa fa-bicycle pvl text-center center-block"></i>

      <div class="col-sm-2">
         <div class="row">
          <div class="col-sm-12 text-center center-block">
            <h2>MICHELLE</br> ARNOLD</h2>
            <p>image</p>
            <h2>MOTHER OF THE GROOM</h2>
          </div>
        </div>
      </div>

      <i class="visible-xs fa fa-bicycle pvl text-center center-block"></i>

      <div class="col-sm-2">
         <div class="row person">
          <div class="col-sm-12 text-center center-block">
            <h2>EMILY</br> WELCH</h2>
            <p>image</p>
            <h2>SISTER OF THE GROOM<h2>
          </div>
        </div>
      </div>

    </div><!-- end family -->

  </div>
</section>
