<!-- form.html -->
<div class="row">
  <div class="col-sm-8 col-sm-offset-2">

  <h1 class="text-center">RSVP</h1>
  <hr/>
   <div class="animate-switch-container text-center center-block"
     ng-switch on="rsvp.teststep">
     <spinner class="spinner" loading="rsvp.loading"></spinner>
       <div class="animate-switch" ng-switch-when="1">
         <h2>Welcome to the Party!</h2>
         <p>Please enter your email address (the same one we sent your invitation to)</p>
         <form name="findInvitation" class="form" ng-submit="findInvitation.$valid && rsvp.findInvitation(rsvp.invitation.email)" novalidation>
           <div class="form-group">
             <input show-errors type="email" class="form-control" name="email" ng-model="rsvp.invitation.email">
           </div>
           <input type="submit" class="btn btn-primary" value="Find my invite!"/>
         </form>
       </div>

       <div class="animate-switch" ng-switch-when="2">
         <h2>Guests</h2>
         <button class="btn btn-primary" ng-click="rsvp.changeTestStep()">Save and continue</button>

         <div class="row">
           <div class="well col-sm-3" ng-repeat="guest in rsvp.invitation.guests" ng-controller="guestListCtrl as guestList">
             <h3>{{ guest.first_name }} {{ guest.last_name }}</h3>
             <p>Attending?<input type="checkbox" ng-model="guest.attending" ng-change="guestList.updateGuest(guest)"></p>
           </div>
          </div>

          <new-guest invitation="rsvp.invitation" guests="rsvp.invitation.guests" approved="false"></new-guest>
       </div>

       <div class="animate-switch" ng-switch-when="3">
         <h2>Anything else we should know?</h2>
         <p>(Allergies, any special needs for the kids, songs you love)</p>
         <div class="well" ng-controller="invitationsCtrl as invitationsCtrl">
           <textarea ng-blur="invitationsCtrl.updateInvitation(rsvp.invitation)" ng-model="rsvp.invitation.notes" class="form-control"></textarea>
         </div>
         <button class="btn btn-primary" ng-click="rsvp.changeTestStep()">Save and continue</button>
       </div>

       <div class="animate-switch" ng-switch-default>
          <h2>Thank you!</h2>
       </div>
      <div class="alert alert-info" ng-show="rsvp.errorMessage" role="alert">{{ rsvp.errorMessage }}</div>
   </div>


 </div>
</div>
