#intro {
    height: 100vh;
    background: url('/assets/home/hero-1.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

  .header {
    text-align: center;
    margin-top: 100px;
    color: white;
  }
}
