

  <!-- where to put the steps-->
  <!-- <div class="animate-switch-container" ng-switch on="multiStepForm.currentStep" ng-transclude>
  </div> -->
<form novalidate>
  <ng-transclude></ng-transclude>
</form>

<div class="text-center">
  <div class="alert alert-info" ng-show="multiStepForm.errorMessage" role="alert">{{ multiStepForm.errorMessage }}</div>
  <button class="btn btn-primary" ng-click="multiStepForm.lastStep(multiStepForm.currentStep);" ng-hide="multiStepForm.isFirstStep() || multiStepForm.complete">Back</button>
  <button class="btn btn-primary" ng-click="multiStepForm.nextStep(multiStepForm.currentStep);" ng-hide="multiStepForm.complete">Next</button>
</div>
