<div class="row well">
  <div class="col-sm-4">
    <h2>New Guest for this invite</h2>
    <form name="addGuest" class="form" ng-submit="addGuest.$valid && newGuestCtrl.addGuest(newGuestCtrl.newGuest)" novalidation>
      <div>Form is {{addGuest.$valid}}</div>

      <input type="hidden" name="approved" ng-model="newGuestCtrl.newGuest.approved" ng-init="newGuestCtrl.newGuest.approved=1" value="{{ newGuestCtrl.newGuest.approved }}" />

      <input  type="hidden" name="invitation_id" ng-model="newGuestCtrl.newGuest.invitation_id">

      <!-- <input type="hidden" name="invitation_id" ng-model="invitationsCtrl.newGuest.invitation_id" value="{{invitationsCtrl.newGuest.invitation_id}}"> -->


      <div class="form-group">
        <input type="text" name="first_name" ng-model="newGuestCtrl.newGuest.first_name" value="{{newGuestCtrl.newGuest.first_name}}" required class="form-control">

        <input type="text" name="last_name" ng-model="newGuestCtrl.newGuest.last_name" value="{{newGuestCtrl.newGuest.last_name}}" required class="form-control">

      </div>

      <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary">
      </div>

    </form>
  </div>

  <blockquote class="col-sm-4 col-sm-offset-1">
    <p>First Name: <u>{{ newGuestCtrl.newGuest.first_name }}</u></p>
    <p>Last Name: <u>{{ newGuestCtrl.newGuest.last_name }}</u></p>
  </blockquote>
</div>
</div>
