<div class="row well">
  <div class="col-sm-10 text-center">
    <h2>New Guest for {{ newGuestCtrl.invitation.title }}</h2>
    <form name="addGuest" class="form" ng-submit="addGuest.$valid && newGuestCtrl.addGuest(newGuestCtrl.newGuest)" novalidation>

      <!-- <input type="hidden" name="approved" ng-model="newGuestCtrl.newGuest.approved" value="{{ newGuestCtrl.newGuest.approved }}" /> -->

      <!-- <input  type="hidden" name="invitation_id" ng-model="newGuestCtrl.newGuest.invitation_id" value="{{ newGuestCtrl.newGuest.invitation_id }}"> -->

      <!-- <input type="hidden" name="attending" ng-model="invitationsCtrl.newGuest.attending" value="{{invitationsCtrl.newGuest.attending}}"> -->


      <div class="form-group">
        <input type="text" name="first_name" ng-model="newGuestCtrl.newGuest.first_name" value="{{newGuestCtrl.newGuest.first_name}}" required class="form-control">

        <input type="text" name="last_name" ng-model="newGuestCtrl.newGuest.last_name" value="{{newGuestCtrl.newGuest.last_name}}" required class="form-control">

      </div>

      <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary">
      </div>

    </form>
  </div>
</div>
</div>
