<a class="btn btn-primary" ui-sref="admin">Go Back</a>

<div ng-controller="invitationsCtrl as invitationsCtrl">
  <h1><div edit-on-click="invitationsCtrl.invitation.title" save-callback="invitationsCtrl.updateInvitation(invitationsCtrl.invitation)"></h1>

  <div ng-controller="guestListCtrl as guestList">
    <div class="table-responsive center-block">
      <table class="table">
        <thead>
          <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Attending?</th>
            <th>Approved?</th>
            <th><th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="guest in guestList.guests">
              <td data-title="First Name"><div edit-on-click="guest.first_name" save-callback="guestList.updateGuest(guest)"></div></td>
              <td><div edit-on-click="guest.last_name" save-callback="guestList.updateGuest(guest)"></div></td>
              <td><input type="checkbox" ng-model="guest.attending" ng-change="guestList.updateGuest(guest)"></td>
              <td><input type="checkbox" ng-model="guest.approved" ng-change="guestList.updateGuest(guest)"></td>
              <td><a ng-click="guestList.removeGuest(guest)" class="btn btn-danger" >Delete</a></td>
            </tr>
          </tbody>
        </table>
      </div>

      <new-guest guests="guestList.guests" invitation="invitationsCtrl.invitation" approved="true"></new-guest>

</div>
